body {
    background-color: black;
}

p {
    font-size: 15px;
    color: white;
    text-align: center;
}

td.name {
    border-style: groove;
    border-color: white;
}

td.frame {
    text-align: center;
}